---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/NavigationBar.astro";
---

<Layout title="Welcome to Astro.">
	<NavigationBar />
	<main>
		<div
			class="grid h-full w-full gap-4 p-2 grid-cols-3 grid-rows-4 rounded-lg"
		>
			<a
				href="diferencial"
				class="col-span-1 row-span-4 bg-[url('/card_bg_good.png')] bg-cover bg-opacity-10 rounded-lg shadow-md flex items-center justify-center transition ease-in-out hover:scale-105"
			>
				<p class="text-4xl font-Inter font-bold text-black">
					Cálculo Diferencial
				</p>
			</a>

			<div
				class="col-span-1 row-span-2 bg-cover rounded-lg shadow-md flex items-center justify-center transition ease-in-out hover:scale-105"
			>
				<p
					class="text-2xl font-Inter p-2 text-balance font-medium text-black"
				>
					Bienvenido a la página de apoyo para materias de matemáticas
					avanzadas. Aquí encontrarás recursos que podrás visualizar
					para apoyarte a reforzar conociemientos en las materias de
					cálculo diferencial y cálculo vectorial.
				</p>
			</div>

			<a
				href="vectorial"
				class="col-span-1 row-span-4 bg-[url('/card_bg_good.png')] bg-cover rounded-lg shadow-md flex items-center justify-center transition ease-in-out hover:scale-105"
			>
				<p class="text-4xl font-Inter font-bold">Cálculo Vectorial</p>
			</a>

			<div
				class="col-span-1 row-span-2 bg-cover rounded-lg shadow-md flex items-center justify-center transition ease-in-out hover:scale-105"
			>
				<img
					class="h-56"
					src="https://www.itshuatusco.edu.mx/inicio/images/Logo%20ITSH%20300x312%20negritas.png"
					alt=""
				/>
			</div>
		</div>
	</main>
</Layout>
